@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 25px;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.App {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}
.home{
  max-width: 600px;
  align-items: center;
}
table{
  width: 100%;
}
table, th, td {
  border: 1px solid rgb(143, 139, 139);
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}
tr:hover {background-color: #f1356d;}
h2{
  margin-bottom: 10px;
}
.student-details h2 {
  font-size: 20px;
  color: #4535f1;
  margin-bottom: 10px;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #4535f1;
  margin-bottom: 30px;
}
.create input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
}
